body { background: #fff url('paper.jpg'); padding: 0px; margin: 0px; }

a:link {text-decoration:underline; color:#79835A;}
a:active {text-decoration:underline; color:#79835A;}
a:visited {text-decoration:underline; color:#79835A;}
a:hover {text-decoration:underline; color:#000000;}

form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#4D6D91}
a.noun:active {text-decoration:none; color:#4D6D91}
a.noun:visited {text-decoration:none; color:#4D6D91}
a.noun:hover {text-decoration:underline; color:#4D6D91}

hr {color:#C9D0DB;height:1px;}
label {cursor:pointer;cursor:hand}

a.logolink:link {text-decoration:none; color:black;}
a.logolink:active {text-decoration:none; color:black;}
a.logolink:visited {text-decoration:none; color:black;}
a.logolink:hover {text-decoration:underline; color:#79835A;}
td.eText p { text-indent: 1.25cm; }

.sans { font-family: sans,sans-serif; }
.serif { font-family: serif; }
