<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/stylesheet.css" rel="stylesheet" type="text/css" media="all">
 
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <!-- <header> -->
    <table width="99%" align="center" style="padding: 0px 10px; border-left: 3px solid black; border-right: 3px solid black; position: relative;">
      <tr>
        <td style="width: 300px; min-width:300px; font:48pt impact;">
          <!-- <a href="/" class="logolink" title="На главную">Д.М.<img align="absmiddle" src="/style/typewriter.png" /></a> -->
          <a href="/" title="На главную" class="logolink" style="padding-left: 170px;">Д.М.</a>
          <div style="position: absolute; left: 30px; top: 0px;">
            <a href="/" title="На главную"><img src="{{ ASSET_PATH }}/typewriter2.png" /></a>
          </div>
        </td>
        <td>
          <div style="font:48pt impact;" align="center">
            ГРАФОМАНСКИЙ&nbsp;САЙТ
          </div>
          <div align="center">
            <small>
              Субъективное мнение объективного человека.
            </small>
          </div>
        </td>
        <td style="width: 300px;">
          &nbsp;
        </td>
      </tr>
    </table>

    <table align="center" style="padding: 0px 10px; border-left: 3px solid black; border-right: 3px solid black;" width="99%">
      <tr>
        <td style="font-size: 9pt;" align="right">
          Издаётся с 17 августа 2010 года
        </td>
      </tr>
    </table>

    <div style="width: 100%; height: 1px; max-height: 1px; border-bottom: 1px solid black; border-top: 2px solid black;">&nbsp;</div>

    <table width="100%" cellpadding="0" cellspacing="0" style="padding: 5px;">
      <tr>
        <td style="font-size: 9pt;" width="50%" align="left">
          <a href="/">Главная</a><br />
          <a href="/atom.xml">RSS/Atom</a>
        </td>
        <td style="font-size: 9pt;" align="right">
          <!-- {{ 'now' | date: "%d.%m.%Y" }} -->
        </td>
      </tr>
    </table>
    <!-- </header> -->

    <!-- <middle> -->
    <br>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px dotted black;">
    <tr>
    <td valign="top" style="width:200px; padding: 10px; padding-right: 20px;">

    <!-- <container> -->

    <!-- <block> -->
    <!-- О Б P A З Е Ц -->
    <!--
    <div style="padding: 5px; margin-bottom: 20px;">
      <div style="margin-bottom: 8px; border-bottom: 2px solid black;">
        TITLE
      </div>
      <small>CONTENT</small>
    </div>
    -->
    <!-- </block> -->

    <!-- two -->


    <!--U1CLEFTER1Z-->

    <!-- <block1> -->
    <div style="padding: 5px; margin-bottom: 20px;">
     
    <div style="margin-bottom: 8px; border-bottom: 2px solid black;">Меню сайта</div>
    <!-- <bc> -->
    <ul style="padding-left: 15px;">
      <li><a href="/">Главная</a></li>
      <li><a href="/news/">Новости</a></li>
      <li><a href="/grafomanship/">Графоманство</a></li>
      <li><a href="/art/">Арт-Рецензии</a></li>
      <li><a href="/blog/">Блог</a></li>
      <li><a href="/about/">О сайте</a></li>
    </ul>
    <!-- </bc> -->
    </div>
    <!-- </block1> -->


    <!-- <block5> -->
    <div style="padding: 5px; margin-bottom: 20px;">
    <div style="margin-bottom: 8px; border-bottom: 2px solid black;">Поиск</div>
    <small>Поиск потом будет.</small>
    </div> 
    <!-- </block5> -->


    <!-- <block10> -->
    <div style="padding: 5px; margin-bottom: 20px;">
    <div style="margin-bottom: 8px; border-bottom: 2px solid black;">Сообщить об ошибке</div>
    <!-- <bc> -->
    <script type="text/javascript" src="/orphus/orphus.js"></script>
    <div style="display:none;"><a title="Система Orphus" href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="/orphus/orphus.gif" height="115" width="125" border="0"></a></div>
    <small>
    Заметили опечатку? Выделите её мышкой и нажмите <b>Ctrl+Enter</b>. Спасибо за помощь.<br>
    <font color="gray">Powered by Orphus</font>
    </small>
    <!-- </bc> -->
    </div>
    <!-- </block10> -->


    <!-- <block12> -->
    <div style="padding: 5px; margin-bottom: 20px;">
    <div style="margin-bottom: 8px; border-bottom: 2px solid black;">Друзья сайта</div>
    <!-- <bc> -->
    <small>
    <ul style="padding-left: 15px;">
    <li><a href="http://valscvetov.ru">Салон флористики «Вальс цветов»</a></li>
    <li><a href="http://m1kc.ucoz.ru">m1kc project</a></li>
    </ul>
    </small>
    <!-- </bc> -->
    </div> 
    <!-- </block12> -->


    <!-- <block13> -->
    <div style="padding: 5px; margin-bottom: 20px;">
    <div style="margin-bottom: 8px; border-bottom: 2px solid black;">Статистика</div>
    <small>
    Статистики нету, лол. 
    </small>
    </div>
    <!-- </block13> -->

    <!--/U1CLEFTER1Z-->

    <!-- </container> -->

    </td>
    <td style="border-left: 1px dotted #000000; vertical-align: top; horizontal-align: center; padding: 15px 10px 0px 3%; max-width:1000px; width:1000px;">
      {{ content }}
    </td>
    <td>
    &nbsp;
    </td>
    </tr>
    </table>
    <!-- </middle> -->

    <!-- <footer> -->
    <div style="border-top: 1px dotted black; margin: 5px;" align="center">
      <small>
        Все материалы, размещённые на&nbsp;сайте, являются объектом
        авторского права, и&nbsp;любое их&nbsp;использование без
        согласия законного владельца запрещено.<br />
        Дизайн&nbsp;сайта&nbsp;&mdash;&nbsp;<a href="http://m1kc.tk">m1kc</a>.
        Сайт создан с&nbsp;помощью <a href="https://github.com/mojombo/jekyll">Jekyll</a> и
        <a href="http://jekyllbootstrap.com">Jekyll Bootstrap</a>.
      </small>
    </div>
    <!-- </footer> -->

    {% include JB/analytics %}
  </body>
</html>
